**/.DS_Store

submissions/**/*

# logbook
logbook/_site/*
logbook/.quarto/

# Latex Files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.run.xml
*.synctex.gz
*.nav
*.snm

# WIP Applications
code/hurricanes/*

